body {
    font-family: Arial;
}

.todo-grid,
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}

.todo-input-grid {
    margin-bottom: 10px;
}

.js-name-input {
    font-size: 15px;
    padding: 9px;
}

.js-due-date-input {
    padding: 9px;
}

.add {
    padding: 10px;
    color: white;
    background-color: green;
    border: none;
    font-size: 15px;
    cursor: pointer;
}

.delete {
    background-color: rgb(235, 49, 49);
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
}